body{
	background-color: black;
}

.square{
	width: 30%;
	background-color: purple;
	padding-bottom: 30%;
	float: left;
	margin:1.66%;
}

#container{
	max-width: 600px;
	margin: 0 auto;
}


#colorDisplay{
	color: white;
	text-align: center;
	background: steelblue;
}


#stripe{
	text-align: center;
	background: white;

}

#header{
 font-family: arial;
	color: white;
 	text-align: center;
 	background: steelblue;
}
}
